body{
  height: 100vh;
  background-image: linear-gradient(rgb(255, 185, 185),rgb(112, 255, 112), rgb(235, 235, 123),pink, white);
}



 

#quotes{
 color: rgb(247, 54, 20);
 text-shadow: rgb(0, 195, 255) 0px 2px 5px;
}
#author{
  color: rgb(16, 212, 202);
  text-shadow: yellow 20px 2px 5px;
}
